::ng-deep .mat-form-field-outline {
    color: grey !important;
  }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: red !important;
    opacity: 0.8 !important;
  }
  
  .matformfieldstyle {
    font-size: 5px;
    margin-top: 5px
  }
  
  .matformfieldinputstyle {
    font-size: 16px;
  }
  
  .matformfieldinputstylelength {
    width: 300px;
  }
  
  .maticonsize {
    font-size: 15px;
  }
  
  .mat-option:hover {
    background: #EDF8FA !important;
  }
  
  // button:hover {
  //   background:#EDF8FA !important;
  // }
  
  // table
  #commonstyle {
    border: 15px none #f6f6f6
  }
  
  .table tr:nth-child(even) {
    background: #EDF8FA
  }
  
  .table tr:nth-child(odd) {
    background: #FFF
  }
  
  .table tr{
    text-align: left;
  }
  
  
  .table,
  th,
  td {
    // text-align: left;
    // padding: 5px;
    font-size: 14px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 18px;
    cursor: pointer;
  }
  
  .tab-btn {
    margin-left: 81%;
    position: relative;
  }
  
//   #navshow{
//     width: 95%;
//     margin-left: 10px;
//   }
  
//   .nav-item.show .nav-link,
//   .nav-tabs .nav-link.active {
//     background-color: transparent !important;
//     color: #044063 !important;
//     text-decoration: underline;
//     cursor: pointer;
//   }
  
//   .nav-tabs .nav-link:hover {
//     border: none !important;
//     cursor: pointer;
//   }
  
//   .nav-tabs .nav-link {
//     border: none;
//     cursor: pointer;
//   }
  

  
  .cursor{
    cursor: pointer;
  }



.alignvertical {
    vertical-align: middle;
}

input,
mat-select,
textarea {
    font-size: 15px;
}

mat-form-field {
    font-size: 8px;
}



// stepper

.stepsdiv {
    width: 100%;
    padding: 0 50px;
  }

  .progressstepper {
    display: table;
    width: 60%;
    position: relative;
  }


  .progressstepper .stepsshow,
  .progressstepper .stepflow {
    display: table-cell;
  }

  .progressstepper .stepsshow {
    width: 70px;
    text-align: center;
  }

//   .progressstepper .stepsshow .stepcircle {
//     background-color: #b5e8b1;
//   }

  .stepcircle{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
  }

  .progressstepper .processname {
    display: block;
  }


  #collapseNoteView {
    min-width: 500px;
    max-width: 900px;
    max-height: 500px;
    padding: 5px;
    // border: 1px solid black;
    overflow: hidden;
    overflow: scroll;
}

#collapseNoteView::-webkit-scrollbar {
    width: 2px;
}

/* Track */
#collapseNoteView::-webkit-scrollbar-track {
    background: #ffffff;
}

#collapseNoteView::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.tab-btn {
    margin-left: 81%;
    position: relative;
}

.nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent !important;
    color: #044063 !important;
    text-decoration: underline;
    cursor: pointer;
}

.nav-tabs .nav-link:hover {
    border: none !important;
    cursor: pointer;
}

.nav-tabs .nav-link {
    border: none;
    cursor: pointer;
}

.commentsection {
    margin: 10px;
    padding: 10px;
}

.buttonwidth {
    // width: 100px;
    font-size: 20px;
}

.placingOnRight {
    float: right;
}
.ddheight {
    padding: 3px 3px 3px 3px;
}
.tablepaddingsizeheader {
    width: 85%;
    margin-left: 10px;
}

.tablepaddingsizeheader tr th {
    padding: 5px;
    margin: 10px;
}
.smallsize {
    font-size: 14px;
}

.textareaset {
    width: 80%;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
    display: inline-block;
    vertical-align: middle;
}

//   .replyinput{
//     width: 60%;
//     height: 30px;
//     border-bottom: 1px solid grey;

//   }

.commentsviewspace {
    margin: 5px;
    padding: 5px;
}

.leftsidemargin {
    // margin-left: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    color: rgba(128, 128, 128, 0.876);
}

.timeschedule {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.textareasetreply {
    width: 80%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 8px;
    resize: vertical;
    display: inline-block;
    vertical-align: middle;
}

.cursor {
    cursor: pointer;
}

.spacingfile {
    margin: 2px;
}

.inputCMTFile01 {
    width: 200px;
}

.bordercomments {
    margin-left: 10px;
    min-width: 500px;
    max-width: 900px;
    max-height: 1000px;
    overflow-x: hidden;
    overflow: scroll;
    border: 1px solid rgba(0, 0, 0, 0.082);
}


.bordercomments::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.bordercomments::-webkit-scrollbar-track {
    background: #e4e3e3;
}

.bordercomments::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.jumbotronView {
    min-width: 500px;
    max-width: 900px;
    max-height: 500px;
    margin: 5px;
    padding: 5px;
    background-color: #e9ecef;
    overflow: hidden;
    overflow: scroll;
}

.textdecorationatag {
    text-decoration: underline;
    color: #044063;
    cursor: pointer;
}

.lenthoftextfieldRemarks{
    width: 700px;
}
.smallsize {
    font-size: 14px;
}
.inlineprint {
    display: inline-block;
    margin: 5px;
}
.btncolor{
    background-color: #e0e0e0;
}

#clauselist{
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0px;
}


#clauselist li{
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.266);
  margin: 2px;
  padding: 5px;
}

#clauselist li span{
  cursor: pointer;
  font-size: 14px;
}



#clauselist::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#clauselist::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
#clauselist::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
#clauselist::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


::ng-deep .highlight-span {
  background-color: lightgreen;
  cursor: pointer;
}


.highlight-span{
  background-color: lightgreen;
  cursor: pointer;
}

.highlight{
  background-color: lightgreen;
  cursor: pointer;
}

::ng-deep span.highlight{
  background-color: lightgreen;
  cursor: pointer;
}
.paddingfortableproposal tr td {
  padding: 10px;
  width: 40px;
}

.tableHeadernameTitle tr td{
  padding: 10px;
  font-size: 16px;
}























#contentshowbox{
  width: 80%;
  height: 800px;
  border: 1px solid black;
}


