.leftspace{
    margin-left: 20px;
}

.views{
    background-color: purple;
    color: #ffffff;
}
.success{
    background-color: #28a745; 
    color: #ffffff;
}
.danger{
    background-color:  #dc3545;
    color: #ffffff;
}
.secondary{
    background-color: #6c757d;
    color: #ffffff;
}

.buttonposition{
    float: right;
}


.spacing{
    margin: 0 5px;
}









