<div class="container">

    <div class="row" *ngIf="obj['changeRequestSummary']">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <form [formGroup]="RequestSearchForm" style="margin-left: 20px;">

                <table>
                    <tr>
                        <!-- <td class="padsize">
                            <mat-label>From Date</mat-label><br>
                            <mat-form-field  class="matformfieldstyle">
                                <input matInput readonly [matDatepicker]="picker3" class="matformfieldinputstyle"
                                (dateChange)='ChangeDateFormat("fromdate")'
                                    formControlName="fromdate">
                                <mat-datepicker-toggle matSuffix class="maticonsize" [for]="picker3">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td class="padsize">
                            <mat-label>To Date</mat-label><br>
                            <mat-form-field  class="matformfieldstyle">
                                <input matInput readonly [matDatepicker]="picker4" class="matformfieldinputstyle"
                                [min]="RequestSearchForm.value.fromdate" 
                                 (dateChange)='ChangeDateFormat("todate")'
                                    formControlName="todate">
                                <mat-datepicker-toggle matSuffix class="maticonsize" [for]="picker4">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker4 [disabled]="RequestSearchForm.value.fromdate == null|| RequestSearchForm.value.fromdate == ''"></mat-datepicker>
                            </mat-form-field>

                        </td> -->
                        <td class="padsize">
                            <mat-label>For</mat-label><br>
                            <mat-form-field class="matformfieldstyle">
                                <mat-select class="matformfieldinputstyle" formControlName="type" placeholder="Status">
                                    <mat-option *ngFor="let type of RequestObjects.TypeList" title=" {{type.text}}"
                                        [value]="type.query">
                                        {{type.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </td>
                        <td class="padsize">
                            <mat-label class="leftspace"> Status</mat-label><br>
                            <mat-form-field class="matformfieldstyle leftspace">
                                <mat-select class="matformfieldinputstyle" formControlName="approvalstatus"
                                    placeholder="Status">
                                    <mat-option *ngFor="let appstatus of RequestObjects.ApprovalStatusList"
                                        title=" {{appstatus.text}}" [value]="appstatus.id">
                                        {{appstatus.text}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </td>
                        <td>

                            <button mat-stroked-button type="button" style="margin-left: 20px;background-color: white;"
                                aria-label="Search" (click)="RequestSearch('')">
                                <mat-icon>search</mat-icon>
                            </button>
                            <!-- <button mat-stroked-button type="button" style="margin-left: 20px;background-color: white;"
                                (click)="RequestSearchForm.reset();RequestSearch('')">
                                    Reset
                                </button>  -->
                        </td>
                        <td>

                            <button type="button" style="border-radius: 10px;margin-left: 20px;border-color: #f5c68b;
                                background-color: #f5c68b;" class="btn btn-light" (click)="getAddScreen()"><i
                                    class="fa fa-plus-circle"></i> Request</button>


                        </td>
                    </tr>
                </table>

            </form>
        </div>

        <!-- <pre>{{leaveRequestSearchForm.value | json}}</pre> -->

        <div class="col-sm-12 col-md-12 col-lg-12">

            <table class="table table-bordered" style="margin-top: 10px;max-width: 100%;" id='commonstyle'>
                <thead class="table_header">
                    <tr>
                        <th>S.No</th>
                        <th>Employee</th> 
                        <th>Requested Date</th>
                        <th>Actual In / Out Time</th>
                        <th>Requested In / Out Time</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- data-bs-toggle="modal" data-bs-target="#modalleavereqview"  leaveReqView(type.id)-->
                    <ng-container *ngFor="let type of RequestObjects?.RequestList; index as i">
                        <tr>
                            <td>{{(RequestObjects?.presentpageRequest - 1) * RequestObjects.pagesize +i+1 }}</td>
                            <td>({{type?.user_id?.code}}) {{type?.user_id?.full_name}}</td>
                            <td>{{type?.change_date | date:'dd-MMM-yyyy'}}</td>
                            <td>{{type?.actual_check_in == "" ? '-' : type?.actual_check_in | date: 'shortTime' }} /
                                {{type?.actual_check_out == "" ? '-' : type?.actual_check_out | date: 'shortTime' }}

                            </td>
                            <td>{{type?.check_in == "" ? '-' : type?.check_in | date: 'shortTime' }} /
                                {{type?.check_out == "" ? '-' : type?.check_out | date: 'shortTime' }}

                            </td>
                            <td class="cursor">
                                <div *ngIf="type?.approve_status?.text == 'Pending';else ApproveStatus"> <span
                                        class="badge badge-pill badge-secondary">Pending</span>
                                </div>
                                <ng-template #ApproveStatus>
                                    <div *ngIf="type?.approve_status?.text == 'Approved';else RejectStatus">
                                        <span class="badge badge-pill badge-success">Approved</span>
                                    </div>
                                </ng-template>
                                <ng-template #RejectStatus>
                                    <div *ngIf="type?.approve_status?.text == 'Rejected'">
                                        <span class="badge badge-pill badge-danger">Rejected</span>
                                    </div>
                                </ng-template>
                            </td>
                            <td>
                                <span class="material-icons" (click)="showReason(type)">
                                    visibility
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf="type.show">
                            <td colspan="6">

                            <div >

                            </div>    


                            <div class="detailsReason">
                                <p>Reason / Remarks: <i>{{type?.reason}}</i></p>

                            </div>
                            <div class="buttonposition">
                            <button mat-stroked-button class="success spacing" (click)="StatusChange(type, 1)" matTooltip="Approve Request" *ngIf="type?.is_approver == true && type?.approve_status?.text == 'Pending' "> 
                                <span class="material-icons">
                                    done
                                </span>
                            </button>

                            <button mat-stroked-button class="danger spacing" (click)="StatusChange(type, 2)" matTooltip="Reject Request" *ngIf="type?.is_approver == true && type?.approve_status?.text == 'Pending' ">
                                <span class="material-icons">
                                    close
                                </span>
                            </button>

                            <button mat-stroked-button class="danger spacing" (click)="CancelRequest(type)" matTooltip="Cancel Request" *ngIf="type?.is_maker == true && type?.approve_status?.text == 'Pending' "> 
                                <!-- <span class="material-icons">
                                    close
                                </span> -->
                                Cancel Request
                            </button>
                            </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div *ngIf="RequestObjects.RequestList ?.length == 0; else reqchange" style="margin-left: 42%;">
                <h3>No Records Found.. </h3>
            </div>
            <ng-template #reqchange>
                <div class="col-sm-12" style="font-size: small;text-align: right; margin-bottom: 50px;">
                    <button mat-icon-button [disabled]="RequestObjects?.has_previousRequest === false" color="primary"
                        (click)="RequestSearch('previous')">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    {{RequestObjects?.presentpageRequest}}
                    <button mat-icon-button [disabled]="RequestObjects?.has_nextRequest === false" color="primary"
                        (click)="RequestSearch('next')">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </ng-template>


        </div>
    </div>

    <div class="row" *ngIf="obj['requestcreatescreen']">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <app-request-change-create (onSubmit)="OnSubmitRequest()"
                (onCancel)="OnCancelRequest()"></app-request-change-create>
        </div>
    </div>





</div>