.SearchMargin{
    margin-top: 10px;
}
.row{
    width:100%
}
.table{
    width: 58%;
    margin-left: 24px;
}
#add{
    margin-left: 20px;
    background-color: rgba(45, 129, 155, 0.56);
    margin-top: 10px;
}
.black{
    color: black;
}
.Creation{
    // margin-left: 27px;
    margin-top: 30px;
}
.CreationName{
    margin-left: 15px;
}
.width{
    width: 90px;
}
// .pagination{
//     font-size: small;
//     text-align: right;
//     margin-bottom: 5%;
//   ;
// }