.NodataAlign{
    text-align: center;
}
tbody td {
	padding: 0.5em 0.1em 0.1em;
}
.cursor{
    cursor: pointer;
}
th, td{
    text-align:center;
}

.table td.rightalign {
    text-align: right;
}

.table td.leftalign {
    text-align: left;
}