.padsize{
    padding: 0px 5px;
}

.spaceForBtn{
    margin-left: 20px;
}
.FloatRight{
    float: right;
}

.leftOfTable{
    text-align: left;
}

.alignmiddle{
    vertical-align: middle;
  }

.widthSize{
    width: 140px;
}

