.main{
    margin-left: 3%;
    margin-top: 2%;
}

.templatemaster{
    margin-left: 1%;
}

.section{
    margin-top: -1%;
 

}

.table{
    margin-left: -1%;
}

.templatename{
    margin-top: 6%;
}
#search{
    margin-top: -32px;
}

.label{
    margin-left: 9px;
    background-color: white;   
    margin-top: 9%;
}

.clearddata{
    margin-left: 30px;
    background-color: white; 
    margin-top: 9%;
}

#add{
    margin-left: 20px;
    background-color: rgba(45, 129, 155, 0.56);
    margin-top: 10px; 
}

.tables{
    width: 97%;
    margin-top: 3px;
    margin-left: 1%;
    overflow-x: visible;
}

#prevpage{
    font-size:x-small;
    text-align:right;
    padding-right:2%;
}

.addform{
    margin-left: 30px;
}

.template{
    color:red
}

.matformfieldstyle1{
    width: 200px;
}
// .matformfieldstyle2{
//     margin-left: 30px;
// }
.MatGLFormFieldStyle{
    margin-left: 30px;
}

.getcomponent{
    margin-left: 13%;
}

.matformfieldstyle2{
    margin-left: 13%;
    margin-top: 4%;
}

.getsegment{
    margin-left: 30%;
}

.matformfieldstyle3{
    margin-left: 30%;
    margin-top: 4%;
}

#submit{
    border-radius: 7px;
    margin-left: 10px;
    border-color: black;
    background-color: white;
}

.sub{
    // border-radius: 10px;
    margin-left: 10px;
    border-color: #f5c68b;
    background-color: #f5c68b;
}



.typecreation{
    margin-left: 3%;
}

.template{
    color:red
}

.matformfieldstyle4{
    width: 200px;
}

.grade{
    margin-left: 13%;
}

.matformfieldstyle5{
    margin-left: 13%;
    margin-top: 4%;
}

.segment{
    margin-left: 30%;
}

.matformfieldstyle6{
    margin-left: 30%;
    margin-top: 4%;
}

.cancel{
    border-radius: 7px;
    margin-left: 10px;
    border-color: black;
    background-color: white;
}

.update{
    border-radius: 10px;
    margin-left: 10px;
    border-color: #f5c68b;
    background-color: #f5c68b;
}

.gra{
    margin-left: 30px;
}

#un{
    // margin-top: 6px;
    margin-left: 30px;

}
.btns{
    border-radius: 7px;
    margin-left: 10px;
    border-color: black;
    background-color: white;
}
.card {
    width: 56%;
    margin-left: 21%;
  }
  
  .custom-file-input {
    background-color: aliceblue;
  }
  .row{
    width: 100%;
  }