<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="row settingMargin">
                <div class="col-lg-4">
                    <div class="card cardOne">

                        <div class="upperPart">

                            <div class="splitpartleft textColor">
                                <span class="material-icons AlignIcons LargeSizeView">timer</span>
                            </div>
                            <div class="splitpartright textColor">
                                <figure class="figure">
                                    <span class="LargeSizeView"> 2 </span>
                                    <figcaption class="figure-caption">schedule days.</figcaption>
                                </figure>
                            </div>
                            <div class="bottomCard">
                                2 days ago
                            </div>

                        </div>

                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="card cardTwo">

                        <div class="upperPart">

                            <div class="splitpartleft textColor">
                                <span class="material-icons AlignIcons LargeSizeView">timer</span>
                            </div>
                            <div class="splitpartright textColor">
                                <figure class="figure">
                                    <span class="LargeSizeView"> 2 </span>
                                    <figcaption class="figure-caption">schedule days.</figcaption>
                                </figure>
                            </div>
                            <div class="bottomCard">
                                2 days ago
                            </div>

                        </div>



                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="card cardThree">

                        <div class="upperPart">

                            <div class="splitpartleft textColor">
                                <span class="material-icons AlignIcons LargeSizeView">timer</span>
                            </div>
                            <div class="splitpartright textColor">
                                <figure class="figure">
                                    <span class="LargeSizeView"> 2 </span>
                                    <figcaption class="figure-caption">schedule days.</figcaption>
                                </figure>
                            </div>
                            <div class="bottomCard">
                                2 days ago
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="row settingMargin">

                <div class="col-lg-4">
                    <div class="card cardFour">

                        <div class="upperPart">

                            <div class="splitpartleft textColor">
                                <span class="material-icons AlignIcons LargeSizeView">timer</span>
                            </div>
                            <div class="splitpartright textColor">
                                <figure class="figure">
                                    <span class="LargeSizeView"> 2 </span>
                                    <figcaption class="figure-caption">schedule days.</figcaption>
                                </figure>
                            </div>
                            <div class="bottomCard">
                                2 days ago
                            </div>

                        </div>


                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="card cardFive">

                        <div class="upperPart">

                            <div class="splitpartleft textColor">
                                <span class="material-icons AlignIcons LargeSizeView">timer</span>
                            </div>
                            <div class="splitpartright textColor">
                                <figure class="figure">
                                    <span class="LargeSizeView"> 2 </span>
                                    <figcaption class="figure-caption">schedule days.</figcaption>
                                </figure>
                            </div>
                            <div class="bottomCard">
                                2 days ago
                            </div>

                        </div>



                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="card cardSix">

                        <div class="upperPart">

                            <div class="splitpartleft textColor">
                                <span class="material-icons AlignIcons LargeSizeView">timer</span>
                            </div>
                            <div class="splitpartright textColor">
                                <figure class="figure">
                                    <span class="LargeSizeView"> 2 </span>
                                    <figcaption class="figure-caption">schedule days.</figcaption>
                                </figure>
                            </div>
                            <div class="bottomCard">
                                2 days ago
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>
</div>