#fonts
  {
    font-family: 'Nunito';
  }

  /* component.scss */
 .mat-input-element {
  // height: 10px; 
  font-family: 'Nunito';

}

.mat-form-field-infix 
{
  border-top: 0.375em solid transparent;
  background-color: azure;
}

/* example.component.scss */
:host ::ng-deep .mat-form-field-infix {
  border-top: 0.375em solid transparent;
}

.vertical-line {
  border-right: 2px solid #A084E8;
  height: 100%;
  margin-right: -2px; 
}

* {
  font-family: 'Inter', sans-serif;
}

.mat-form-field,div,.mat-option,.mat-fab,.mat-button,button,.mat-menu-item,p {
  font-family: 'Inter', sans-serif;
}


.material-icons {
  font-family: 'Material Icons', sans-serif;
}
.contents
{
  margin-top: 1%;
  margin-left: 1%;
}

