<section class="cus-tableContainer">
  <div class="row">
    <div class="col-sm-1 col-md-1 col-1 col-lg-1 col-xl-1">
      <div class="cardspaceListProfile color display">
        {{EmpObjects.employeeFirstLetter == null ? 'VS': EmpObjects.employeeFirstLetter | uppercase}}
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
      <p class="header">Address Details</p>
    </div>
    <div class="col-sm-4 col-md-4 col-4 col-lg-4 col-xl-4">
    </div>
    <div class="col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2" id="position">

    </div>
    <div class="col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2" id="position">
      <div class="popup-btn">
        <button class="btn btn-primary" id="colors" type="button" (click)="showSaveButton()"
          data-bs-toggle="modal" data-bs-target="#bankModal">
          <span>+ Add</span>
        </button>
      </div>
    </div>
  </div>
<!--Address View Starts -->
  <div *ngFor="let family of EmpAddressDetails; let i = index" class="newCard">
    <div class="d-flex">
      <div class="p-2 flex-grow-1">
        <!-- <p><span class="color" id="divs">{{family?.city_id?.name}} </span></p> -->
        <p><span class="colordata">{{family.line1}}</span>, &nbsp;&nbsp;<span
            class="colordata">{{family.line2}}</span>&nbsp;&nbsp;<span
            class="colordata">{{family.line3}}</span></p>
        <p> <span class=" cus-badgeBlue">
            {{family?.district_id?.name}} / {{family?.state_id?.name}} / {{family?.pincode_id?.no}}
          </span>
        </p>
      </div>
      <div class="p-2" id="fullWidth">
        <a data-bs-toggle="modal" data-bs-target="#familyModal" style="    margin-left: -65%;">
          <i class="fa solid fa-pencil" (click)="editRow(family)" data-bs-toggle="modal" data-bs-target="#bankModals"></i>
        </a>
        <i style="margin-left: 20%;" class="fa solid fa-trash-can" (click)="deleteAddress(family?.id)"></i>
        <i  style="margin-left: 20%;" class="fa solid fa-download" *ngIf="family?.employee_document !== null"
        (click)="downloadfiles(family)"></i>
      
      </div>
    </div>
  </div>
  <!--Address View Ends -->
</section>
<!-- Add Modal Starts-->
<div class="modal bottom-modal" id="bankModal" tabindex="-1" role="dialog" aria-labelledby="bankModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="widthd">
      <div class="modal-header" id="educationHeader" id="widthd" style="background-color: #044063;">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center; font-size: large;color: white;"><b>Address
            Details</b>
        </h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" #closeButton>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="address">
          <div class="col-12 row">
            <div class="col-4">
              <mat-form-field class="formField">
                <mat-label>Address Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let addressType of addressTypes" [value]="addressType.id">
                    {{addressType.name}}
                  </mat-option>
                </mat-select>
             
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 row">
            <div class="col-4">
              <div class="width2">
                <mat-form-field>
                  <mat-label>Line 1</mat-label>
                  <input matInput formControlName="line1">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="width2">
                <mat-form-field>
                  <mat-label>Line 2</mat-label>
                  <input matInput formControlName="line2">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="width2">
                <mat-form-field>
                  <mat-label>Line 3</mat-label>
                  <input matInput formControlName="line3">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-12 row">
            <div class="col-12">
              <mat-form-field class="nwidth">
                <mat-label>Pincode</mat-label>
                <input type="text" placeholder="Search Pincode" matInput formControlName="pincode" required
                  autocomplete="off" [matAutocomplete]="pinlistCon"
                  (focusout)="getpincodedata(address.get('pincode').value)"
                  (keyup)=" getpincodedata(address.get('pincode').value)" #pincodeInputCon>
                <mat-autocomplete #pincodeinfoCon #pinlistCon="matAutocomplete" [displayWith]="getpincodeinterface">
                  <mat-option *ngFor="let d of pincodelist" [value]="d" (focusout)="getpinlistfocus(d)">
                    {{d.no}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12 row">
            <!-- <div class="col-4">
              <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput formControlName="city" [readonly]="addressReadOnly">
              </mat-form-field>
            </div> -->
            <div class="col-4">
              <div class="width2">
                <mat-form-field>
                  <mat-label>State</mat-label>
                  <input matInput formControlName="state" [readonly]="addressReadOnly">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="width2">
                <mat-form-field>
                  <mat-label>District</mat-label>
                  <input matInput formControlName="district" [readonly]="addressReadOnly">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">

            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <mat-form-field style="margin-left: 7%;">
              <mat-label>Select Upload File</mat-label>
              <mat-select formControlName="filetype">
                <mat-option *ngFor="let ftype of fileTypes" [value]="ftype.id">
                    {{ftype.name}}
                  </mat-option>
              </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-5" style="    margin-top: 3%;">
              <label style="margin-right: 1em;">
                <input type="file" class="borderremove" #fileInput accept=".txt,.doc,.pdf,.ppt,.pot,.pps,.pptx,.odt,.odg,.odp,.ods,.docx,.docm,
                .dotx,.dotm,.docb,
                .xlsx,.xls,.xlt,.xlm,.xlsm,.xltx,.xltm,.jpg,.jpeg,.tiff,.tif,.png" multiple="true" name="images"
                  (change)="fileChange($event)">
              </label>
            </div>
          </div>

          <div class="relative">
            <div class="width2">
            </div>
            <div class="width2">
            </div>
            <div class="width1">
              <button class="btn btn-primary ml-3" id="colors" type="button" (click)="onSubmitss()">
                <span> Submit</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Add Modal Ends-->

<!-- Update Modal Starts-->
<div class="modal bottom-modal" id="bankModals" tabindex="-1" role="dialog" aria-labelledby="bankModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="widthd" >
      <div class="modal-header" id="educationHeader" id="widthd" style="background-color: #044063;">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center; font-size: large;color: white;"><b>Address
            Details</b>

        </h5>

        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" #closeButtons>
          <span aria-hidden="true">&times;</span>
        </button>

      </div>


      <div class="modal-body">
        <form [formGroup]="addresse">
          <div class="col-12 row">
            <div class="col-4">
              <mat-form-field class="formField">
                <mat-label>Address Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let addressType of addressTypes" [value]="addressType.id">
                    {{addressType.name}}
                  </mat-option>
                </mat-select>
             
              </mat-form-field>
            </div>
            </div>
          <div class="col-12 row">
            <div class="col-4">
              <div class="width2">
                <mat-form-field>
                  <mat-label>Line 1</mat-label>
                  <input matInput formControlName="line1">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="width2">
                <mat-form-field>
                  <mat-label>Line 2</mat-label>
                  <input matInput formControlName="line2">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="width2">
                <mat-form-field>
                  <mat-label>Line 3</mat-label>
                  <input matInput formControlName="line3">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-12 row">
            <div class="col-12">
              <mat-form-field (click)="getpincodedata(addresse.get('pincode').value)" class="nwidth">
                <mat-label>Pincode</mat-label>
                <input type="text" placeholder="Search Pincode" matInput formControlName="pincode" required
                  autocomplete="off" [matAutocomplete]="pinlistCons"
                  (keyup)=" getpincodedata(addresse.get('pincode').value)" #pincodeInputCons>
                <mat-autocomplete #pincodeinfoCons #pinlistCons="matAutocomplete" [displayWith]="getpincodeinterface">
                  <mat-option *ngFor="let d of pincodelist" [value]="d" (focusout)="getpinlistfocuss(d)">
                    {{d.no}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <div class="col-12 row">
            <!-- <div class="col-4">
              <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput formControlName="city" [readonly]="addressEditReadonly">
              </mat-form-field>
            </div> -->
            <div class="col-4">
              <div class="width2">
                <mat-form-field>
                  <mat-label>State</mat-label>
                  <input matInput formControlName="state" [readonly]="addressEditReadonly">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
              <div class="width2">
                <mat-form-field>
                  <mat-label>District</mat-label>
                  <input matInput formControlName="district" [readonly]="addressEditReadonly">
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">

            </div>
          </div>
          <div class="row" *ngIf="!fileupdate">
            <div  class="col-sm-5" style="margin-left: 2%;">
              <div class="cus-attachCard" *ngIf="reuploadfileArr?.file_name !== null">
                <!-- H -->
                <span>{{ reuploadfileArr?.file_name }}</span>
                <button mat-icon-button type="button" (click)="viewfiles(reuploadfileArr)" data-bs-target="#viewDownload" data-bs-toggle="modal" style="    margin-left: 37%;">
                  <mat-icon  aria-label="View" style="font-size: x-large;color: blue;
                  margin-top: -19px;">visibility</mat-icon>
                 
                </button>
                <button mat-icon-button type="button" (click)="deletefile(reuploadfileArr)" >
                 
                   <mat-icon  aria-label="Delete" style="font-size: x-large;color: blue;
                   margin-top: -19px;">delete</mat-icon>
                 
                </button>
              </div>
            </div>
            <!-- <div *ngIf="fileupdate" class="col-sm-5" style="    margin-top: 3%;">
              <label style="margin-right: 1em;">
                <input type="file" class="borderremove" style="margin-left: 5%;" #fileInput accept=".txt,.doc,.pdf,.ppt,.pot,.pps,.pptx,.odt,.odg,.odp,.ods,.docx,.docm,
                .dotx,.dotm,.docb,
                .xlsx,.xls,.xlt,.xlm,.xlsm,.xltx,.xltm,.jpg,.jpeg,.tiff,.tif,.png" multiple="true" name="images"
                  (change)="fileChanges($event)">
              </label>
            </div> -->
          </div>
          <div class="row" *ngIf="fileupdate">
            <div class="col-sm-4">
              <mat-form-field style="margin-left: 7%;">
              <mat-label>Select Upload File</mat-label>
              <mat-select formControlName="filetype">
                <mat-option *ngFor="let ftype of fileTypes" [value]="ftype.id">
                    {{ftype.name}}
                  </mat-option>
              </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-5" style="    margin-top: 3%;">
              <label style="margin-right: 1em;">
                <input type="file" class="borderremove" #fileInput accept=".txt,.doc,.pdf,.ppt,.pot,.pps,.pptx,.odt,.odg,.odp,.ods,.docx,.docm,
                .dotx,.dotm,.docb,
                .xlsx,.xls,.xlt,.xlm,.xlsm,.xltx,.xltm,.jpg,.jpeg,.tiff,.tif,.png" multiple="true" name="images"
                  (change)="fileChange($event)">
              </label>
            </div>
          </div>

          <div class="relative">
            <div class="width2">

            </div>
            <div class="width2">

            </div>
            <div class="width1">
              <button class="btn btn-primary ml-3" id="colors" type="button" (click)="onUpdates()">
                <span> Update</span>
              </button>
            </div>

          </div>

        </form>
      </div>

    </div>
  </div>
</div>
<!-- Update Modal Ends-->


<div class="modal" id="viewDownload" role="dialog" aria-labelledby="bankModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 800px;">

      <div class="modal-header" id="educationHeader" style="width: 800px; ">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center; font-size: large;">
          View File
        </h5>
        <!-- <mat-icon  style="margin-left: 7%;
        font-size: 25px; cursor: pointer;" (click)="onDownload()">cloud_download</mat-icon> -->

        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" #closebutton style="color: white; opacity: 1;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-lg-12 col-sm-12" fxLayoutAlign="space-between">
            <pdf-viewer *ngIf="pdfshow" [src]="filesrc" [original-size]="false" [render-text]='false'
              [show-borders]="true" [fit-to-page]="true" [show-all]="true" style="display: block; height: 500px;"
              [fit-to-page]="true">
            </pdf-viewer>
            <br>
            <img *ngIf="imgshow" src="{{filesrc}}" class="img-responsive"
              style="display: block;border-width: 2px;border-style: solid;width: 100%;" />
          </div>

          <div class="modal-footer">

          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
  </div> -->
    </div>
  </div>
</div>