<div id="maincontent" *ngIf="isSummaryPage">
  <div class="search">
    <div class="rows">
      <h2 class="main" ></h2>
  </div>

    <form [formGroup]="datassearch" class="data" >
     
        <div class="row"style="margin-left:-8px">
          <div class="col-sm-3">
            <mat-form-field class="type">
              <mat-label>Name</mat-label>

              <input matInput formControlName="name">
            </mat-form-field>
          </div>

          <div class="col-md-5 pl-0" style="margin-top: 11px;" >
            <div>
              <button mat-stroked-button type="button" class="stroke" 
                aria-label="Search" (click)="searchName()">
                <mat-icon>search</mat-icon>
              </button>
              
              <button mat-stroked-button type="button" class="mat" (click)="clearForm()">Clear</button>
              <button type="button" mat-fab  class="tool"  (click)="addNew()">
                <mat-icon matTooltip="Add" style="color: black;">add</mat-icon>
              </button>
              <button type="button" class="tool" mat-fab 
              (click)="uploadfile()">
              <mat-icon matTooltip="Upload" style="color: black;">arrow_upward</mat-icon>
          </button>
            </div>
          </div>

        </div>
      <!-- </section> -->

    </form>

  </div>

  <div >

    <div>
      <!-- <h3 style="margin-left:5px;">Summary</h3> -->
      <div >

        <table class="table table-bordered" id='commonstyle'>
          <thead class="table_header">
            <tr>
              <th class="text-center">S.no</th>
              <th class="text-center">
                Name
              </th>
              <th class="text-center">
                Category
              </th>
              <th class="width text-center">Edit</th>

              <th class="width text-center">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sum of summarylist;index as ind">
              <td class="text-center">{{(pagination.index-1)*limit+ind+1}}</td>
              <td class="text-center">{{sum.name}}</td>
              <td class="text-center">{{sum.category.category}}</td>
              <td class="width text-center">
                <i class="fa-solid fa-pencil" (click)="editComponentType(sum)"></i>
              </td>


              <td class="width text-center">
                <i class="fa-solid fa-trash-can"  (click)="deletecompType(sum.id)"></i>


              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-sm-12" style="margin-bottom:5%">
          <button (click)="prevpage()" mat-icon-button [disabled]="pagination.has_previous === false"
              color="primary">
              <mat-icon class="customIconSize">arrow_back</mat-icon>
          </button>
          {{pagination.index}}
          <button (click)="nextpage()" mat-icon-button [disabled]="pagination.has_next === false"
              color="primary">
              <mat-icon class="customIconSize">arrow_forward</mat-icon>
          </button>

      </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="isTypeCreation" class="new">
  <h2>PayCategory Edit</h2>
  <form [formGroup]="editForm" autocomplete="off">
    <table>
      <div>
        <tr>
          <td>
            <mat-label>Name<label  class="outline">*</label> </mat-label><br>
            <mat-form-field class="matformfieldstyle1"  appearance="outline">
              <input matInput class="matformfieldinputstyle" type="name" formControlName="name" autocomplete="off">
            </mat-form-field>
          </td>
          <!-- <td>
            <mat-label  class="per">Percentage<label  class="centage" >*</label> </mat-label><br>
            <mat-form-field class="matformfieldstyle2"  appearance="outline">
              <input matInput class="matformfieldinputstyle" type="name" formControlName="percentage"
                autocomplete="off">
            </mat-form-field>
          </td> -->
          <td class="ml-3">
            <mat-label  class="appear" >Category<label class="rance">*</label> </mat-label><br>
            <mat-form-field class="matformfieldstyle4"   appearance="outline">
              <mat-select formControlName="category">
                <mat-option *ngFor="let l of DropDowndata" [value]="l.id">
                  {{l.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </div>
    </table>
    <button type="button" class="btn btn-light" (click)="onCancel()">Cancel</button>
    <button type="submit" class="btn btn-light sub" (click)="onSubmit()">Submit</button>
  </form>
</div>

<div *ngIf="isNewCreation" class="new" >
  <h2>PayCategory Add</h2>
  <form [formGroup]="addForm" autocomplete="off">
    <table>
      <div>
        <tr>
          <td>
            <mat-label>Name<label  class="complete">*</label> </mat-label><br>
            <mat-form-field class="matformfieldstyle3"  appearance="outline">
              <input matInput class="matformfieldinputstyle" type="name" formControlName="name" autocomplete="off">
            </mat-form-field>
          </td>
          <!-- <td>
            <mat-label  class="appear" >Percentage<label class="rance">*</label> </mat-label><br>
            <mat-form-field class="matformfieldstyle4"   appearance="outline">
              <input matInput class="matformfieldinputstyle" type="name" formControlName="percentage"
                autocomplete="off">
            </mat-form-field>
          </td> -->
          <td class="ml-3">
            <mat-label  class="appear" >Category<label class="rance">*</label> </mat-label><br>
            <mat-form-field class="matformfieldstyle4"   appearance="outline">
              <mat-select formControlName="category">
                <mat-option *ngFor="let l of DropDowndata" [value]="l.id">
                  {{l.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <!-- <td>
            <mat-form-field>
              <mat-select>
                <mat-option *ngFor="let l of list" [value]="l.id">
                  {{l.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td> -->

        </tr>
      </div>
    </table>
    <button type="button" class="btn btn-light" (click)="onCancelAdd()">Cancel</button>
    <button type="submit" (click)="onSubmitAdd()" class="btn btn-light sub">Submit</button>
  </form>
</div>

<div *ngIf="isFileUpload">
  <div class="card">
      <div class="card-body">
        <form novalidate [formGroup]="uploadForms">
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" formControlName="files" id="importFile"
                (change)="fileChange($event, $event.target.files)">
              <label class="custom-file-label" #labelImport for="importFile">Choose file</label>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-warning" type="button" (click)="uploadDocuments()">
              <i class="fas fa-file-import"></i> Upload
            </button>
            <button class="btn btn-outline-info" type="button" (click)="cancel()" style="margin-left: 4%;">
              Cancel
            </button>
            <button class="btn btn-outline-info" type="button" (click)="downloadTemplate()" style="    margin-left:35%;">
              Download Template
            </button>
          </div>
        </form>
      </div>
    </div>
</div>