<div style="margin-top: 2%;margin-left:2%">
  <div id="pdfTable" #pdfTable>
    <div id="header">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <form [formGroup]="yearlyForm" class="formposition">
            <div class="row col-md-12">
              <div class="col-md-3" *ngIf="adminUser">
                <mat-label>Employee Name<label style="color:red">*</label> </mat-label><br>
                <mat-form-field (click)="functionalHead()" style="margin-top: -3%;" class="width">
                  <input #fnInput matInput formControlName="emplName" placeholder="Select Employee"
                    [matAutocomplete]="fn" (keyup)="empsearchbyname()">
                  <mat-icon matSuffix class="maticonsize">unfold_more</mat-icon>
                  <mat-autocomplete #fn="matAutocomplete" [displayWith]="displayFnFunHead"
                    (opened)="autocompleteFunctionalHeadScroll()">
                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isLoading">
                      <mat-option *ngFor="let fun of empData" [value]="fun">
                        {{fun.full_name}}
                      </mat-option>
                    </ng-container>
                    <mat-option *ngIf="!empData ||  !empData.length">
                      NO RECORDS FOUND
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-label>Year</mat-label><br>
                <mat-form-field class="width">
                  <mat-select matInput formControlName="year" placeholder="Year" [(ngModel)]="currenYear">
                    <mat-option *ngFor="let year of years" [value]="year">
                      {{ year }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="adminUser">
                <div class="col-sm-12 row d-flex align-items-center mt-3">
                  <div class="col-2">
                     <button mat-stroked-button type="button" style="margin-left: 20px;background-color: white;"
                    aria-label="Search" (click)="loadData()">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
                 <div class="col-2">
                  <button mat-stroked-button type="button"
                    style="margin-left: 20px;background-color: white;" (click)="clearForm()">Clear</button>
                  <!-- <button type="button" mat-fab style="margin-left: 20px;background-color: #f5c68b;margin-top: 10px;"
                    (click)="downloadData()">
                    <mat-icon matTooltip="excel download">file_download</mat-icon>
                  </button> -->
                </div>
                <div class="col-2">
                  <!-- <button type="button" mat-fab style="margin-left: 20px;background-color: white
                  ;margin-top: 10px;"
                  (click)="downloadPDF()">
                  <mat-icon matTooltip="pdf download">file_download</mat-icon>
                </button> -->
                <button type="button" class="btn" matTooltip="pdf download" style="margin-left: 20px;
                margin-top: 10px;"
                  (click)="downloadPDF()">
                  <!-- <mat-icon matTooltip="pdf download" style="color: black;">file_download</mat-icon> -->
                  <i class="fa-regular fa-file-pdf fa-xl" style="color: blue"></i>
                </button>
              </div>
                </div>
              </div>
              <div class="col-md-6" *ngIf="normalUser">
                <div class="col-sm-12 row d-flex align-items-center mt-3">
                  <div class="col-sm-2">
                    <button mat-stroked-button type="button" style="margin-left: 20px;background-color: white;"
                    aria-label="Search" (click)="loadData()">
                    <mat-icon>search</mat-icon>
                  </button>
                  </div>
                  <div class="col-sm-2">
                    <button mat-stroked-button type="button"
                    style="margin-left: 20px;background-color: white;" (click)="clearForm()">Clear</button>
                  </div>
                  <div class="col-sm-2">
                    <!-- <button type="button" mat-fab style="margin-left: 20px;background-color: white
                    ;margin-top: 10px;"
                    (click)="generatePDF()">
                    <mat-icon matTooltip="pdf download">file_download</mat-icon>
                  </button> -->
                    <button type="button" class="btn" matTooltip="pdf download" style="margin-left: 20px;
                    margin-top: 10px;"
                    (click)="downloadPDF()">
                    <!-- <mat-icon matTooltip="pdf download" style="color: black;">file_download</mat-icon> -->
                    <i class="fa-regular fa-file-pdf  fa-xl" style="color: blue"></i>
                  </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="tabledata">
    <div class="row" style="    margin-left: 2%;
  /* margin-top: 0%; */
  margin-bottom: 3%;
  font-family: sans-serif;
  font-size: larger;" *ngIf="isDataPresent">
      {{personData | uppercase}}
    </div>
    <div class="mat-elevation-z5" class="table-row" style="overflow-x: scroll;overflow-y: visible;" *ngIf="isDataPresent" >
      <table class="table-bordered" mat-table [dataSource]="dataSource" style="width: 100%;">
        <ng-container matColumnDef="item" sticky>
          <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight: bold;min-width: 275px" class="table_header">Item
          </th>
          <td mat-cell *matCellDef="let row" class="table_header" style="width: 300px; font-size: larger;">
            {{ row.item }}
          </td>
        </ng-container>
        <ng-container *ngFor="let date of payrollDates" [matColumnDef]="date">
          <th mat-header-cell *matHeaderCellDef style="font-size: small; text-align: center; min-width: 130px;"
            class="table_header">{{ date }}</th>
          <td mat-cell *matCellDef="let row" style="text-align: center;  font-size: small;">
            <ng-container *ngIf="row.item !== 'PaidDays'">
              {{ row[date] | currency:'INR' }}
            </ng-container>
            <ng-container *ngIf="row.item === 'PaidDays'">
              {{ row[date] }}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef style="font-size: small; font-weight: 700;
          min-width: 162px;
          text-align: center;" class="table_header">Grand
            Total
          </th>
          <td mat-cell *matCellDef="let row" style="text-align: center;  font-size: small;" class="table_header">
            <ng-container *ngIf="row.item !== 'PaidDays'">
              {{ row.total| currency:'INR' }}
            </ng-container>
            <ng-container *ngIf="row.item === 'PaidDays'">
              {{ row.total }}
              
            </ng-container>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: ['item'].concat(payrollDates, 'total');"></tr>
      </table>
      <br><br>
    </div>
  </div>
  
</div>