.summary{
    margin-left: 3%;
}

.mapping{
    margin-left: 3%; 
    margin-top: 2%;
}

.data{
    margin-top:1%;
    margin-left:15px
}

.segmentname{
    margin-top: -11%;
    margin-left: 6px;
}

.storked{
    margin-left: 8px;
    background-color: white;    
    margin-top: -37px;
}

.clear{
    margin-left: 30px;
    background-color: white;    
    margin-top: 9%;
}

#aria{
    margin-top: -44px;
    margin-left: -68px;
}
.newsegments{
    margin-left: 20px; 
    background-color: rgba(45, 129, 155, 0.56);
    margin-top: 10px;
}

.table{
    margin-left: 10px;
    width: 97%;
}

#prevpage{
    font-size:x-small;
    text-align:right;
    padding-right:2%;
}

.addform{
    margin-left: 23px;
}

.getsegment{
    margin-left: 13%;
}

.matformfieldstyle1{
    margin-left: 13%;
}

// .pay{
//     margin-left: 30%;
// }
.PayComponent{
    margin-left:40px ;
}
.component{
    color:red
}

.matformfieldstyle2{
    margin-left: 30%;
    margin-top: -4%;
}

#cancel{
    border-radius: 7px;
    margin-left: 18px;
    border-color: black;
    background-color: white;
}

.submit{
    border-radius: 10px;
    margin-left: 10px;
    border-color: #f5c68b;
    background-color: #f5c68b;
}

.segmentedit{
    margin-left: 3%;
}

.getsegments{
    margin-left: 13%;
}

.matformfieldstyle3{
    margin-left: 13%;
}

.matformfieldstyle4{
    margin-left: 30%;
    margin-top: -4%;
}

.paycomponent{
    margin-left: 30%;
}

.red{
    color:red  
}

#type{
    border-radius: 7px;
    margin-left: 18px;
    border-color: black;
    background-color: white;
}

.sub{
    border-radius: 10px;
    margin-left: 10px;
    border-color: #f5c68b;
    background-color: #f5c68b;
   
}

#back{
    margin-left: 85%;
    margin-top: -88px;
    width: 7%;
}
.widthSegment{
    width: 100%;
}
.row{
    width: 100%;
}
#add{
    margin-left: 20px;
    background-color: rgba(45, 129, 155, 0.56);
    margin-top: 10px;
}
.card {
    width: 56%;
    margin-left: 21%;
}

.custom-file-input {
    background-color: aliceblue;
}