<section class="cus-tableContainer">
    <div class="row">
      <div class="col-sm-1 col-md-1 col-1 col-lg-1 col-xl-1">
        <div class="cardspaceListProfile color display">
          {{EmpObjects.employeeFirstLetter == null ? 'VS': EmpObjects.employeeFirstLetter | uppercase}}
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-3 col-lg-3 col-xl-3">
        <p style="color: #046ba8;font-size:x-large;font-weight: 700;margin-top: 7%;">Insurance</p>
      </div>
      <div class="col-sm-4 col-md-4 col-4 col-lg-4 col-xl-4">
      </div>
      <div class="col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2" style="margin-top: 1.2%;">
  
      </div>
      <div class="col-sm-2 col-md-2 col-2 col-lg-2 col-xl-2" style="margin-top: 1.2%;">
        <div class="popup-btn">
          <button class="btn btn-primary" style="background-color: #044063;" type="button"    data-bs-toggle="modal" data-bs-target="#InsuranceModal">
            <span>+ Add</span>
          </button>
        </div>
      </div>
    </div>
  

<!-- <div *ngFor="let family of EmpFamilyDetails; let i = index" class="newCard">
    <div class="d-flex">
      <div class="p-2 flex-grow-1">
        <p><span class="color" style="font-weight: 600; font-size: medium;">{{family?.name}} </span>| {{family.relationship?.text}} | <span  class="cus-badgeBlue">{{family.mobile_no}}</span>
          <span *ngIf="family?.no" class=" cus-badgeBlue">
            {{family?.phone_no}}
           </span>
        </p>
      </div>
      <div  class="p-2" style="width: 100px;">
        <a  data-bs-toggle="modal" data-bs-target="#familyModal">
          <i class="fa solid fa-pencil"  (click)="editRow(family)"></i>
        </a>
      </div>
    </div>
  </div> -->
  </section>
  <div class="modal bottom-modal" id="InsuranceModal" tabindex="-1" role="dialog" aria-labelledby="bankModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 800px;">
      <div class="modal-header" id="educationHeader" style="width: 800px; ">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center; font-size: large;"><b
           >Insurance</b>     
        </h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" #closeButton style="color: white;opacity: 1;">
  <span aria-hidden="true">&times;</span>
</button>
      </div>     
      <div class="modal-body">
        <form [formGroup]="InsuranceInfoForm" class="formAbove">
          <div class="container">

          <div class="row g-3">
            <div class="col">      
                <mat-form-field class="formField" >
                  <mat-label>Name</mat-label>
                  <input matInput  name="famName" formControlName="name">
                </mat-form-field>
                <span class="error-message" *ngIf="(!InsName?.valid && (InsName?.touched || InsName?.dirty))">
                  *Name required
                           </span>
                                </div>
            <div class="col">
              <mat-form-field class="formField">
                <mat-select formControlName="relationship" name="famRelation" placeholder="Relationship" >
                  <mat-option>
               
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <span class="error-message" *ngIf="(!InsRelation?.valid && (InsRelation?.touched || InsRelation?.dirty))">
                *Relationship required
                         </span>
                 </div>
            <div class="col">
              <!-- <mat-form-field class="formField">
                <mat-label>DOB</mat-label>
                <input formControlName="dob" name="famDob" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <span class="error-message" *ngIf="(!famDob?.valid && (famDob?.touched || famDob?.dirty))">
                *DOB required
                         </span> -->  <mat-form-field class="formField">
    <mat-label>Age</mat-label>
    <input matInput placeholder="Phone no" name="famno" formControlName="no"  maxlength="10" >
  </mat-form-field>
  <br>
  <span class="contact-message" *ngIf="(!Insno?.valid && (Insno?.touched || Insno?.dirty))">
    *Contact required
             </span>    
              </div>
          </div>         
          </div>
   
          <div class="container">
            <div class="row">
          
              <div class="col">
            
                    <button class="btn btn-primary "  style="background-color: #044063;">Save</button>
                    <!-- <button class="btn btn-dark " id="saveEdu" * style="background-color: #044063;">Update</button> -->
               
              </div>
              <div class="col">
              </div>
            </div>
          </div>
        </form>
      </div>
 
    </div>
  </div>
</div>