<div style="margin-left: 50px;margin-right: 80%;margin-top: 1%; width: 100%;">
    <h1>
         Delmat Maker
    </h1>
    <div>
        <form [formGroup]="delmatmakerForm" (ngSubmit)="delmatmakerSubmit()">
            <table>
                <tr> 
                    <td>
                        <mat-form-field style="width: 300px;">
                            <mat-label>Employee Name</mat-label>
                            <input #empInput placeholder="" matInput formControlName="employee_id"
                                [matAutocomplete]="emp">
                                <mat-error *ngIf="delmatmakerForm.controls.employee_id.errors?.incorrectValue">
                                    {{delmatmakerForm.controls.employee_id.errors?.incorrectValue}}
                                </mat-error>
                            <mat-autocomplete #emp="matAutocomplete" [displayWith]="displayFnemp" (opened)="autocompleteempScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let emp of employeeList" [value]="emp">{{emp.full_name}}
                                    </mat-option>
                                    
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td> 
                    <td>
                        <mat-form-field style="width: 175px;margin-left: 50px;">
                            <mat-label>Commodity Name</mat-label>
                            <input #comInput placeholder="Select Commodity" matInput formControlName="commodity_id"
                                [matAutocomplete]="com">
                                <mat-error *ngIf="delmatmakerForm.controls.commodity_id.errors?.incorrectValue ">
                                    {{delmatmakerForm.controls.commodity_id.errors?.incorrectValue}}
                                </mat-error>
                            <mat-autocomplete #com="matAutocomplete" [displayWith]="displayFncom" (opened)="autocompletecomScroll()">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let com of commodityList" [value]="com">{{com.name}}
                                    </mat-option>
                                    <!-- <mat-option>No more datas</mat-option> -->
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </td> 
                </tr>
                <tr>
                    <td>
                        <mat-form-field style="width: 175px;">
                            <mat-label>Delmat Type</mat-label>
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let type of delmattypeList" [value]="type.id">{{type.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td> 
                    <td>
                        <mat-form-field style="width: 175px; margin-left: 50px;">
                            <mat-label>Limit <small>(in Rs)</small></mat-label>
                            <input matInput type="text" placeholder=" Limit" maxlength="16" (keypress)="omit_special_num($event)" autocomplete="off" formControlName="limit" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
                <div style="margin-bottom: 5%; margin-left: 50px;">
                    <!-- <button type="submit" style="border-radius: 40px;margin-left: 10px;" class="btn btn-outline-primary" [disabled]="delmatmakerForm.invalid">Submit</button> -->
                    <button type="button" (click)="onCancelClick()" class="btn btn-outline-primary"
                        style="border-radius: 40px;margin-left: 10px;">Cancel</button>
                </div>
        </form>
    </div>
</div>

<!-- <pre>
    {{ delmatmakerForm.value | json }}
</pre> -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" type="line-scale-party">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>