.main
{
    margin-top: 2%;
    margin-left: 3%;
}

// .maincontent{
//     margin-left: 3%;
// }

.segmentmaster{
    margin-left: 3%;
}

.datas{
    margin-top:1%;
    margin-left:15px;
}

.segmentname{
    margin-top: -3%;
    margin-left: 2%;
}

#stroked{
    margin-top: -56px;
}

.searched{
    margin-left: 9px;
    background-color: white;    
    margin-top: 9%;
}

.table-responsive{
    margin-left: 1%;
    width: 99%;
}
.cleardata{
    margin-left: 30px;
    background-color: white;    
    margin-top: 9%;
}

.add{
    margin-left: 20px;
    background-color: rgba(45, 129, 155, 0.56);
    margin-top: 10px;
}
#Maps{
    margin-left: 166px;
    margin-top: -98px;
}

.tables{
    // margin-left: 20px;
    width: 97%;
}

#primary{
    font-size:x-small;
    text-align:right;
    padding-right:2%;
}

.segmentadd{
    margin-left: 23px;
}

.appearance{
    color:red
}

// .matformfieldstyle1{
//     width: 200px;
// }

// .paycomponenttype{
//     margin-left: 13%;
// }

.matformfieldstyle2{
    // margin-left: 13%;
    // margin-top: 3%;
    width: 110%;
}

.bonustype{
    margin-left: 13%;
}



// .percentage{
//     margin-left: 25%;
// }

.Per{
    color:red
}

// .matformfieldstyle3{
//     width: 200px;
//     margin-left: 25%;
// }

#cancel{
    border-radius: 7px;
    margin-left: 10px;
    border-color: black;
    background-color: white; 
}

.submit{
    border-radius: 10px;
    margin-left: 10px;
    border-color: #f5c68b;
    background-color: #f5c68b;
}

.editform{
    margin-left: 2%;
}

.formcontrol{
    color:red
}

// .matformfieldstyle4{
//     width: 250px;
// }

// .paycomponenttype{
//     margin-top: -1px;
// }

.matformfieldstyle5{
    margin-left: 13%;
    margin-top: 4%;
}

// .BonusType{
//     margin-left: 13%;
// }

.matformfieldstyle6{
    margin-left: 13%;
    margin-top: 4%;
}

// .page{
//     margin-left: 25%; 
// }

.control{
    color:red 
}

// .matformfieldstyle7{
//     width: 250px;
//     margin-left: 25%;
// }
#CanCel{
    border-radius: 7px;
    margin-left: 10px;
    border-color: black;
    background-color: white;
    cursor: pointer;
}

.update{
    border-radius: 10px;
    margin-left: 10px;
    border-color: #f5c68b;
          background-color: #f5c68b;
}
.search{
    margin-left: 20px;
}

.card {
    width: 56%;
    margin-left: 21%;
  }
  
  .custom-file-input {
    background-color: aliceblue;
  }
  .row{
    width: 100%;
  }
  #un{
    width: 110%;
  }