.name{
    font-size: 30px;
}
.body{
    background-color: skyblue;
}
.skyblue{
    background-color:grey;
}
.perwidth{
    width:30%;
}
.alignValue{
    text-align: right;
}
.height{
    height: 50px;
}