// .container {
//   margin: 10px 15px 100px 10px;
// }
.smallinput{
  width: 140px;
}

.placingOnRight {
  float: right;
}

.tablepaddingsizeheader {
  width: 50%;
  margin-left: 16px;
}

.tablepaddingsizeheader tr th {
  padding: 5px;
  margin: 10px;
}

.buttonwidth { 
  font-size: 20px;
}

.inlineprint {
  display: inline-block;
  margin: 10px;
}

.inputCMTFile01 {
  width: 200px;
}

.btncolor {
  background-color: #e0e0e0;
}


.cursor {
  cursor: pointer;
}

.spacingfile {
  margin: 2px;
}

.textdecorationatag {
  text-align: center;
}

.inlineprint {
  display: inline-block;
  margin: 10px;
}
 
////////////////////////////////
.tablesize {
  width: var(--widthTableFull);
}

.tablesizeCalender {
  width: var(--widthTableFull);
}

.padsize thead tr th {
  text-align: center;
  background-color: rgb(215, 215, 250);
}

.padsize tbody tr td {
  width: 100px;
  height: 100px;
}


.topleftcorner {
  float: right;
  font-weight: 700;
}

.tableborder,
.tableborder thead tr th,
.tableborder tbody tr td {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.contentside {
  height: 100px;
}

.colorsicons {
  font-size: 16px;
  color: rgb(96, 93, 93);
}

.aligniconBtn {
  vertical-align: middle;
}

.sizepill {
  font-size: 8px;
}

.tablesizeonwidth tr th {
  padding: 20px;
  white-space: nowrap; 
}

.attendanceMark {
  text-align: center;
}

.attendanceMark span {
  font-size: 16px;
}

.presentstyle, .absentstyle, .weekend, .weekendHolidayPresent {
  border-radius: 30px;
  font-weight: 600;
  color: white;
}

.LP {
  color: #FFDCBE;
}

.presentstyle { 
  color: #28a745; 
}

.absentstyle { 
  color: #dc3545; 
}

.weekend { 
  color: #6c757d; 
}
 
.holidaypopup { 
  color: #49728D; 
}

.weekendHolidayPresent { 
  color: #343a40; 
}

.leftspace {
  margin-left: 20px;
}
.PresentWidth{
  width: 10px;
}
.PresentDisplayFlex{
  display: flex;
  gap: 22px;
}

#NoteView { 
  max-height: 500px;
  padding: 5px;
  overflow: hidden;
  overflow: scroll;
}

#NoteView::-webkit-scrollbar {
  width: 2px;
}

/* Track */
#NoteView::-webkit-scrollbar-track {
  background: #ffffff;
}

#NoteView::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.checkInAndout {
  background-color: #f9f9f9;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.duration {
  align-items: center;
  background-color: #f9f9f9;
  border: 5px solid #e3e3e3;
  border-radius: 50%;
  display: flex;
  font-size: 18px;
  height: 120px;
  justify-content: center;
  margin: 0 auto;
  width: 120px;
}

.designBoxInOut {
  padding: 10px;
  border: 5px solid #e3e3e3;
  text-align: center;
}

.textdec {
  color: #49728D;
  cursor: pointer;
  text-decoration: underline;
}


#NoteViewTable { 
  max-width: 500px;
  max-height: 500px;
  padding: 5px;
  overflow: scroll;

}

#NoteViewTable table thead tr th,
#NoteViewTable table tbody tr td,
#NoteViewTable table tbody tr td span {
  font-size: 12px;
  white-space: nowrap;
}

#NoteViewTable::-webkit-scrollbar {
  width: 2px;
}

/* Track */
#NoteViewTable::-webkit-scrollbar-track {
  background: #ffffff;
}

#NoteViewTable::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.listfontsize {
  font-size: 14px;
}

.breadcrumbdatawhite {
  background-color: white;
}

.breadcrumbdataselected {
  background-color: #dbe5ec;
}

@media only screen and (max-width: 600px) {
  .calenderview {
    display: none;
  } 
}

// .outertable td:first-child, .outertable th:first-child {
//   position: sticky;
//   left: 0;
//   z-index: 10;
//   background-color: white;
// }

// .outertable td:nth-child(2), .outertable th:nth-child(2) {
//   position: sticky;
//   left: 50px;
//   z-index: 11;
//   background-color: white;
// }

// .outertable th:nth-child(3) {
//   position: sticky;
//   left: 130px;
//   z-index: 12;
//   background-color: white;
// }

// .outertable td:nth-child(3) {
//   position: sticky;
//   left: 130px;
//   z-index: 13;
//   background-color: white;
// }

// .tableFixHeaddiv th {
//   position: sticky;
//   top: 0;
//   background: #eee;
//   z-index: 14
// }

// .outertable th:first-child, .outertable th:nth-child(2), .outertable th:nth-child(3), .outertable td:nth-child(3) {
//   z-index: 15
// }

.tableFixHeaddiv{
  max-height: 500px;
  position: relative;
}

.outertable thead th { 
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    // border: 1px solid #3c3b3b;
    z-index: 5;
  }
  .PageNumberWidth{
    width: 100px;
  }
  .LoadMore{
    margin-bottom: 18px;
  }
  .togglePosition {
    position: absolute;
    top: 0px; 
    font-size: 35px;
    cursor: pointer; 
  }

  .outertable th:first-child, .outertable th:nth-child(2)  {
    background-color: #f2f2f2;
    position: sticky;
    left: 0;
    z-index: 7 !important;
  }


  .outertable td:first-child, .outertable td:nth-child(2) {
    background-color: #f2f2f2;
    position: sticky;
    left: 0; 
  }

.outertable td:nth-child(2), .outertable th:nth-child(2){
    left: 150px; 
  }

// .outertable td:nth-child(3),  .outertable th:nth-child(3){
//     left: 133px; 
//   }
.outertable td:first-child, .outertable td:nth-child(2),.outertable td:nth-child(3){
  z-index: 6;
}  

.empname{
  white-space: nowrap;
}
.PageDisplay{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 20px;
  gap: 15px;
}
.dataPresent{
  cursor: pointer;
}

.indicatorOnCornerPermission {
  content: '';
  position: relative;
  top: 0px;
  left: 0px;
  background-color:#ff0000b8;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  /* border-bottom-right-radius: 50px 50px; */
  /* -webkit-animation: perm 1s linear infinite; */
  //animation: perm 1s linear infinite;
}

@keyframes perm {
  50% {
    opacity: 0;
  }
}

.indicatorOnCornerEdited { 
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 10px;
  color: #7a7979;
}

.AttendanceTableView {
  display: flex;
  flex-direction: row;
  margin: 8px;
}

.displayMultiple {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding: 4px;
  margin-left: -10px;
  color: white;
} 

.present {
  background-color: #28a745;
  border: 1px solid #ffffff;
}

.absent {
  background-color: #dc3545d1;
  border: 1px solid #ffffff;
}
.absentcolor{
  color:#dc3545d1;
}
.LeavePending{
  background-color: #f0ad4e;
  border: 1px solid #ffffff;
}
.LeaveApproved{
  background-color: #99ff99;
  border: 1px solid #ffffff;
}

.weekend {
  background-color: #6c757d;
  border: 1px solid #ffffff;
  border: 1px solid #ffffff;
}

// .partialpresents{
//   background-color: #40A2E3;
// }

.holiday {
  background-color: #49728D;
  border: 1px solid #ffffff;
}

.partialpresent{
  background-color: #40A2E3;
  border: 1px solid #ffffff;
}
.partialpresentcolor{
  color:#40A2E3;
}

.others {
  background-color: #FFDCBE;
  border: 1px solid #ffffff;
  color: #000000;
}

.colorsset {
  color: red
}

.spacing {
  margin: 5px;
  color: #ffffff;
}
.spacingForm {
  margin-left: 20px; 
}

.tablePrevious th:nth-child(n+3):nth-child(-n+9),
.tablePrevious td:nth-child(n+3):nth-child(-n+9),
.tablePrevious td:nth-last-child(-n+7),
.tablePrevious th:nth-last-child(-n+7) {
  color: #9b8f8f;
}


//// previous Dates
.tablePrevious td:nth-child(n+3):nth-child(-n+9) .present,
.tablePrevious td:nth-last-child(-n+7) .present {
  background-color: #28a74670;
}

.tablePrevious td:nth-child(n+3):nth-child(-n+9) .absent,
.tablePrevious td:nth-last-child(-n+7) .absent {
  background-color: #dc35465e;
}

.tablePrevious td:nth-child(n+3):nth-child(-n+9) .weekend,
.tablePrevious td:nth-last-child(-n+7) .weekend {
  background-color: #6c757d6d;
}

.tablePrevious td:nth-child(n+3):nth-child(-n+9) .holiday,
.tablePrevious td:nth-last-child(-n+7) .holiday {
  background-color: #49728D6a;
}

.tablePrevious td:nth-child(n+3):nth-child(-n+9) .others,
.tablePrevious td:nth-last-child(-n+7) .others {
  background-color: #FFDCBE6a;
}

/////// hovers dates

.tablePrevious td:nth-child(n+3):nth-child(-n+9) .present:hover,
.tablePrevious td:nth-last-child(-n+7) .present:hover {
  background-color: #28a745;
}

.tablePrevious td:nth-child(n+3):nth-child(-n+9) .absent:hover,
.tablePrevious td:nth-last-child(-n+7) .absent:hover {
  background-color: #dc3545d1;
}

.tablePrevious td:nth-child(n+3):nth-child(-n+9) .weekend:hover,
.tablePrevious td:nth-last-child(-n+7) .weekend:hover {
  background-color: #6c757d;
}

.tablePrevious td:nth-child(n+3):nth-child(-n+9) .holiday:hover,
.tablePrevious td:nth-last-child(-n+7) .holiday:hover {
  background-color: #49728D;
}

.tablePrevious td:nth-child(n+3):nth-child(-n+9) .others:hover,
.tablePrevious td:nth-last-child(-n+7) .others:hover {
  background-color: #FFDCBE;
} 

.tableTogle th:nth-child(n+3):nth-child(-n+9),
.tableTogle td:nth-child(n+3):nth-child(-n+9),
.tableTogle td:nth-last-child(-n+7),
.tableTogle th:nth-last-child(-n+7) { 
  display: none;
} 
 
.togglePosition {
  position: absolute;
  top: 0px;
  right: -17px;
  font-size: 35px;
  cursor: pointer;
}

.presentDate{
  background-color: #115db0;
}

.dateFilter{
  visibility: hidden;
}
 
.filterData{
  font-size: 15px;
  color: #585656; 
  margin: 10px;
  z-index: 100 !important;
  width: 102px !important;
}

.coloring{
  color: #ffffff
}

.btnalignbtm{
  margin-bottom: 20px;
}
.badge-secondary{
  background-color: #6c757d;
}
.badge-success{
  background-color: #28a745;
}
.CloseFlex{
  display: flex;
  justify-content: right;
}
.close:hover{
  color: black !important;
}
// .alignleft{
//   margin-left: 20px;
// }