.overalldiv{
    width: 100%;
    margin-left: 10px;
}

.filterdiv{
    margin-bottom: 1%;
}

.centerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seperatecolumn{
    border-right: 10px solid white;
}