.payrollmapping{
    margin-left:25px;
}

.table{
    margin-left: 20px;
    width: 97%;
}

#prevpage{
    font-size:x-small;
    text-align:right;
    padding-right:2%;
}

.cus-taskPageBtnsDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 10px 20px 40px 20px;
  }
  
  .cus-taskPageBtnsDiv button {
    background-color: #044063;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 6px 4px;
    border-radius: 4px;
  }
  
  .cus-taskBtnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .pointer {cursor: pointer;}
  
  .cus-btnActive {
    background-color: #ededff;
  }
  
  
  .cus-pageNumbers p {
    width: 40px;
    height: 37px;
    padding: 8px 16px 8px 16px;
    border-radius: 5px;
    margin-bottom: 0;
  }