.btn-bottom {
    margin-bottom: 5%;
    margin-top: 29px;
}
.btn-outline-primary {
    border-radius: 40px;
}
.btn-link {
    border-radius: 40px;
    margin-left: 10px;
}

.tdpad{
    padding: 10px;
}