.listView {
    margin-bottom: 10px;

}
.alignbuttonRight{
    position: absolute;
    top: 0px;
    right: 0px;
}

// .listView::before {
//     content: '';
//     position: absolute;
//     width: 100px;
//     height: 2px;
//     background-color: black;
// }

// .listView::after {
//     content: '';
//     position: absolute;
//     width: 100px;
//     height: 2px;
//     background-color: black;
// }

.tableform  tr td{
    padding: 10px;
}

.penaltyRule{
    cursor: pointer;
}

.iconstyle{
    vertical-align: middle;
    font-size: 20px;
    color: #0440636b;
}