.roll{
    color:red
}

.matformfieldstyle1{
    width: 190px;
}

.allow{
    margin-left: 30px;
}

.allowance{
    color:red
}

.matformfieldstyle2{
    width: 190px;
    margin-left: 30px;
}

.gra{
    margin-left: 30px;
}

.de{
    color:red
}

.matformfieldstyle3{
    width: 190px;
    margin-left: 30px;
}

.percen{
    margin-left: 30px;
}

.tage{
    color:red
}

.matformfieldstyle4{
    width: 190px;
    margin-left:30px;
}

.btns{
    border-radius: 7px;
    margin-left: 10px;
    border-color: black;
    background-color: white;
}

.border{
    border-radius: 10px;
    margin-left: 80px;
    border-color: #ebe8e4;
    background-color: #ebe8e4;
    padding:14px;
    height: 140px;
}

.sear{
    margin-left: 72px;
}

.data{
    margin-top:1%;
    margin-left:20px 
}

.field{
    margin-left: 6%;
}

.col-md-3{
    margin-top: -1px;
}

.stroked{
    margin-left: 20px;
    background-color: white;
}

.payroll{
    margin-left: 20px;
    background-color: white;
}

.add{
    margin-left: 20px; 
    background-color: rgba(45, 129, 155, 0.56);
}

.card {
    width: 56%;
    margin-left: 21%;
  }
  
  .custom-file-input {
    background-color: aliceblue;
  }
  .row{
    width: 100%;
  }