.employee{
    margin-left: 4%;
    
}

.form{
    margin-top:1%;
    margin-right: 225px;
    margin-left:40px;
}

// .name{
//     margin-left: 6%;
// }

.column{
    margin-top: -1px;
}

.button{
    margin-left: 20px;
    background-color: white;
}

.clear{
    margin-left: 20px;
    background-color: white;
}

.add{
    margin-left: 20px;
    background-color: rgba(45, 129, 155, 0.56);
}

.table-responsive{
    margin-left: 28px;
    width: 97%;
    margin-top: -4%;
}

.aligncenter{
    margin-top: 10px;
    max-width: 97%;
}

.col-sm-12{
    font-size: small;
    text-align: right;
    margin-bottom: 5%;
}

.label{
    color:red;
}

.matformfieldstyle1{
    width: 200px;
}

.pay{
    margin-left: 60px;
}

.pay2{
    color:red;
}

.matformfieldstyle2{
    margin-left: 60px;
}

.per{
    margin-left: 60px;
}

.per2{
    color:red
}

.matformfieldstyle3{
    width: 200px;
    margin-left: 60px;
}

.cash{
    margin-left: 60px;
}

.amount{
    color:red;
}

.matformfieldstyle4{
    width: 200px;
    margin-left: 60px;
}

.btn-light{
    border-radius: 7px;
    margin-left: 10px;
    border-color: black;
    background-color: white;
}

.sub{
    border-radius: 10px;
    margin-left: 10px;
    border-color: #f5c68b;
    background-color: #f5c68b;
}

.employeePFStructurecreation{
    padding-left: 40px;
}
.cursor{
    cursor: pointer;
}

.card {
    width: 56%;
    margin-left: 21%;
  }
  
  .custom-file-input {
    background-color: aliceblue;
  }
  .row{
    width:100%
  }

