.header{
    display: flex;
    justify-content: space-between;
}
.FrontHead{
    display: flex;
}
.borde{
    margin-top: 4px;
    margin-left: 23px;
    border: 1px solid gray;
}
.padding{
    padding-top: 2rem;
}