.flex{
    display: flex;
    align-items: center;
}
.black{
    color: black;
}
#add{
    margin-left: 20px;
    background-color: rgba(45, 129, 155, 0.56);
    margin-top: 10px;
}
.SearchMargin{
    margin-top: 10px;
}
.table{
    width: 58%;
    margin-left: 24px;
}
.width{
    width: 90px;
}
.pagination{
    margin-left: 700px;
    display: flex;
    align-items: center;
}
.creationName{
    margin-left: 28px;
}
.creation{
    margin-top: 30px;
}